.box{
    height: 500px;
    width:300px;
    background-color: crimson;
    display: inline-block;
    /* border-style: dashed;
    border-width: 5px;
    border-color:rgb(91, 223, 68); */
    border:rgb(203, 195, 195) 5px dashed;
    outline:yellow 5px solid;
    margin:10px;
   
}

#b1{
     padding:100px 5px 5px 200px;
     box-sizing: border-box;
}
.subbox{
    height:500px;
    width:160px;
    background-color: white;
}