@font-face {
    font-family: "Ameya_font";
    src: url("bouncy_font.otf");
}
@font-face {
    font-family: "Ameya_font1";
    src: url("bounce1.otf");
}
@font-face {
    font-family: "Ameya_font2";
    src: url("bounce2.otf");
}
.container{
    height:100vh;
    width:100vw;
    background-color: bisque;

}
span{
    font-size: xx-large;
}
#font1{
    font-family: "Ameya_font";
    font-size: xx-large;
    color:rgb(6, 6, 6);
}
#font2{
    font-family: "Ameya_font1";
}
#font3{
    font-family: "Ameya_font2";
}
#btn{
    font-family: "Ameya_font";
    padding:20px;
    font-size: large;
}